# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# Firebase
firebase_options.dart

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/Runner.xcworkspace

# Android
android/.gradle/
android/app/build/
android/local.properties

# Web
web/firebase-messaging-sw.js

# VS Code
.vscode/

# Others
.idea/
*.iml
*.log 